.addOptionError {
    color: $offWhite;
    font-style: italic;
    padding: 0 $m-size;
    margin: $m-size 0 0 0 ; // top right bottom left
}

.addOption {
    display: flex;
    padding: $m-size;
}

.addOption__input {
    background: $darkBlue;
    border: none;
    border-bottom: .3rem solid darken($color: $darkBlue, $amount: 10%);
    flex-grow: 1;
    margin-right: $s-size;
    padding: $s-size;
    
}