.ReactModalPortal > div {
    opacity: 0;

}

.ReactModalPortal .ReactModalPortal__Overlay {
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModalPortal__Overlay {
    transition: opacity 200ms ease-in-out;
}